<!DOCTYPE html>
<html>
<head>
    <title>Admin Ordini</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Gestione Ordini</h1>
    
    <form method="POST">
        <input autofocus="true" style="height: 300px width: 100px; font-size: 50px ;" type="text" name="order_name" placeholder="nome ordine" required>
        <button type="submit" name="add">Aggiungi</button>
    </form>
    <h2>Ordini Attuali</h2>
    <div class="admin-list">
        {% for order in orders %}
            <ul>
                <form method="POST">
                    <input type="hidden" name="order_name" value="{{ order }}">
                    <button class="admin-button" type="submit" name="remove">{{ order }}</button>
                </form>
            </ul>    
        {% endfor %}
    </div>
    <div class="footer">
        ST-Bolo
    </div>
</body>
</html>
